# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/
*.egg

# Virtual environments
.venv
venv/
ENV/

# Testing
.pytest_cache
.coverage
htmlcov/
.tox/
.nox/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log

# Environment
.env
.env.*
!.env.sample
.venv

# Docker
**/docker-compose*
**/compose.y*ml
**/Dockerfile*

# Dependencies
**/node_modules

# Build artifacts
**/obj

# Secrets & local config
**/secrets.dev.yaml
**/values.dev.yaml

# Project specific
evaluation/
notebooks/
redis/
supabase/
dump.rdb
entity-relationship-daigram.svg
ERD.txt
.git
.gitignore
list/
package.json
package-lock.json
node_modules/
README.md
show/
sql
user_requirements.md
